<section class="mb-5">
  <h2 class="text-white mb-4">Top ten Movies</h2>

   <div class="row g-4">
            @for (movie of topTenByGeners; track movie.id) {
          <div class="col-lg-3 col-md-4 col-sm-6 col-12"  *ngIf="movie.poster_path ">
          <div class="card content-card text-white cursor-pointer " >
            <img [routerLink]="['/details' , movie.id]" [src]="movie.poster_path | tmdbImageUrl" class="card-img-top content-image" [alt]="movie.title">
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center content-meta mt-3 mb-0">
                <div class="d-flex align-items-center meta-item  rounded-1 " style="background-color:#141414 ;">
                  <span class="meta-text cursor-pointer">
                    <span *ngIf="WatchlistMovielist.includes(movie.id)" (click)="RemoveFromWatchlist(movie.id)"
                    class="action-icon-button p-3 d-flex justify-content-center align-items-center " style="background-color: #630303;">
                    <i class="fa-solid fa-minus text-white "></i>
                  </span>
                  <span *ngIf="!WatchlistMovielist.includes(movie.id)" (click)="addToWatchList(movie.id)"
                  class="action-icon-button p-3 d-flex justify-content-center align-items-center ">
                    <img src="images/img_vector_12x12.svg" alt="Add to list">
                    </span>
                  </span>
                </div>
                <div class="d-flex align-items-center meta-item  rounded-1 p-1" style="background-color:#141414 ;">
                  <img src="/images/Rateing_icon_4.svg" alt="Views" class="me-2" width="20" height="20">
                  <span class="meta-text">{{ movie.vote_average | number: '1.1-1'  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
            }
        </div>
</section>
