<div>
  <div class="card m-auto" id="login">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="Login(loginForm)">
      <div class="mb-3">
        <input #emailInput type="email" id="email" placeholder="email" formControlName="email" class="form-control " required>
        <div class="alert alert-danger" *ngIf="
        loginForm.get('email')?.errors &&
        (loginForm.get('email')?.touched || emailInput.value.length > 0)
      ">
          <p *ngIf="loginForm.get('email')?.getError('required')">
            email must be required
          </p>
          <p *ngIf="loginForm.get('email')?.getError('email')">
            Email is not valid
          </p>
        </div>
      </div>




      <div class="mb-3">
        <input #passwordInput type="password" id="password" placeholder="Password" formControlName="password" class="form-control"
          required>
          <div class="alert alert-danger" *ngIf="
          loginForm.get('password')?.errors &&
          (loginForm.get('password')?.touched || passwordInput.value.length > 0)
        ">
            <p *ngIf="loginForm.get('password')?.getError('required')">
              Password must be required
            </p>

          </div>
      </div>
      <button type="submit">Login</button>


    </form>
  </div>

</div>
