 /* Hero Section */
        /* Hero Section */
        .hero {
            position: relative;
            height: 709px;
            width: 100%;
            border-radius: 12px;
            overflow: hidden;
            margin-bottom: 60px;
            border-image-source: linear-gradient(180deg, #262626 0%, #26262600 100%);
        }

        .hero-overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 70%;
            background: linear-gradient(0deg, #141414 0%, #14141400 100%);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 60px;
        }

        .hero-title {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 20px;
            text-align: center;
        }

        .hero-description {
            font-size: 16px;
            font-weight: 500;
            color: #999999;
            text-align: center;
            max-width: 960px;
            margin-bottom: 30px;
        }

.content-card {
  background-color: #1a1a1a;
  border: 1px solid #262626;
  border-radius: 10px;
  overflow: hidden;
}

.content-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  transition: all 0.7s ease;
}

.content-image:hover {
  transform: scale(1.09);
  opacity: 0.8;
  filter: brightness(0.8);
}

.meta-text {
  font-size: 14px;
  color: #ccc;
}

.meta-item img {
  filter: brightness(0.8);
}



/* seka dots Clacket */
::ng-deep .owl-theme .owl-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 12px;
  margin-bottom: 10px;
}

::ng-deep .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 4px;
  background: #333 !important;
  border-radius: 2px;
  margin: 0 !important;
  transition: all 0.3s ease;
}

::ng-deep .owl-theme .owl-dots .owl-dot.active span {
  width: 20px !important;
  background: #e50000 !important;
}

::ng-deep .owl-theme .owl-dots .owl-dot:hover span {
  background: #e50000 !important;
}

