<nav class="navbar navbar-expand-lg bg-dark px-4 py-2">
  <div class="container-fluid ">
    <!-- Logo -->
    <a class="navbar-brand text-white d-flex align-items-center" href="#">
      <img src="/images/Clacket.jpg" alt="StreamVibe Logo" class="w-75" height="50" class="me-2">

    </a>
    <div class="logo">Clacket</div>
    <!-- Center Nav Links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item"><a class="nav-link text-white" routerLinkActive="bg-danger"  routerLink="login">Login</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLinkActive="bg-danger"  routerLink="register">Register</a></li>
      </ul>
    </div>
  </div>
</nav>
