<div class="categories-grid">
  <div class="category-card">
    <div class="category-images">
      <div class="category-image">
        <img src="images/img_image_102x93.png" alt="Action movie">
      </div>
      <div class="category-image">
        <img src="images/img_image_35.png" alt="Action movie">
      </div>
      <div class="category-image">
        <img src="images/img_image_36.png" alt="Action movie">
      </div>
      <div class="category-image">
        <img src="images/img_image_37.png" alt="Action movie">
      </div>
      <div class="category-overlay"></div>
    </div>
    <div class="category-footer">
      <h3 class="category-title ">Action</h3>
      <img src="images/img_icon_2.svg" [routerLink]="['/movie-category', 28]" class="cursor-pointer" alt="Arrow">
    </div>
  </div>

  <div class="category-card">
    <div class="category-images">
      <div class="category-image">
        <img src="images/img_image_38.png" alt="Adventure movie">
      </div>
      <div class="category-image">
        <img src="images/img_image_39.png" alt="Adventure movie">
      </div>
      <div class="category-image">
        <img src="images/img_image_40.png" alt="Adventure movie">
      </div>
      <div class="category-image">
        <img src="images/img_image_41.png" alt="Adventure movie">
      </div>
      <div class="category-overlay"></div>
    </div>
    <div class="category-footer">
      <h3 class="category-title">Adventure</h3>
      <img src="images/img_icon_2.svg" [routerLink]="['/movie-category', 12]" class="cursor-pointer" alt="Arrow">
    </div>
  </div>

  <div class="category-card">
    <div class="category-images">
      <div class="category-image">
        <img src="images/img_image_42.png" alt="Comedy movie">
      </div>
      <div class="category-image">
        <img src="images/img_image_43.png" alt="Comedy movie">
      </div>
      <div class="category-image">
        <img src="images/img_image_44.png" alt="Comedy movie">
      </div>
      <div class="category-image">
        <img src="images/img_image_45.png" alt="Comedy movie">
      </div>
      <div class="category-overlay"></div>
    </div>
    <div class="category-footer">
      <h3 class="category-title">Comedy</h3>
      <img src="images/img_icon_2.svg" [routerLink]="['/movie-category', 35]" class="cursor-pointer" alt="Arrow">
    </div>
  </div>

  <div class="category-card">
    <div class="category-images">
      <div class="category-image">
        <img src="images/img_image_46.png" alt="Drama movie">
      </div>
      <div class="category-image">
        <img src="images/img_image_47.png" alt="Drama movie">
      </div>
      <div class="category-image">
        <img src="images/img_image_48.png" alt="Drama movie">
      </div>
      <div class="category-image">
        <img src="images/img_image_49.png" alt="Drama movie">
      </div>
      <div class="category-overlay"></div>
    </div>
    <div class="category-footer">
      <h3 class="category-title">Drama</h3>
      <img src="images/img_icon_2.svg" [routerLink]="['/movie-category', 18]" class="cursor-pointer" alt="Arrow">
    </div>
  </div>

  <div class="category-card">
    <div class="category-images">
      <div class="category-image">
        <img src="images/img_image_50.png" alt="Horror movie">
      </div>
      <div class="category-image">
        <img src="images/img_image_51.png" alt="Horror movie">
      </div>
      <div class="category-image">
        <img src="images/img_image_52.png" alt="Horror movie">
      </div>
      <div class="category-image">
        <img src="images/img_image_53.png" alt="Horror movie">
      </div>
      <div class="category-overlay"></div>
    </div>
    <div class="category-footer">
      <h3 class="category-title">Horror</h3>
      <img src="images/img_icon_2.svg" [routerLink]="['/movie-category', 27]" class="cursor-pointer" alt="Arrow">
    </div>
  </div>
</div>

<!-- <owl-carousel-o [options]="GenresSliderOptions">
        <ng-template carouselSlide>
          <div class="category-card ">
            <div class="category-images">
              <div class="category-image">
                <img src="images/img_image_102x93.png" alt="Action movie">
              </div>
              <div class="category-image">
                <img src="images/img_image_35.png" alt="Action movie">
              </div>
              <div class="category-image">
                <img src="images/img_image_36.png" alt="Action movie">
              </div>
              <div class="category-image">
                <img src="images/img_image_37.png" alt="Action movie">
              </div>
              <div class="category-overlay"></div>
            </div>
            <div class="category-footer">
              <h3 class="category-title ">Action</h3>
              <img src="images/img_icon_2.svg" [routerLink]="['/movie-category', 28]" class="cursor-pointer" alt="Arrow">
            </div>
          </div>
        </ng-template>


      </owl-carousel-o> -->
