<section class="hero-section">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Content -->
    <div class="content">
        <!-- Play Button -->
        <div class="play-button">
            <i class="bi bi-play-circle-fill"></i>
        </div>

        <!-- Title -->
        <h1 class="title">The Best Streaming Experience</h1>

        <!-- Description -->
        <p class="description">
            StreamVibe is the best streaming experience for watching your favorite movies and shows on demand, anytime,
            anywhere.
            You can enjoy a wide variety of content, including the latest blockbusters, classic movies, popular TV
            shows, and more.
            You can also create your own watchlists, so you can easily find the content you want to watch.
        </p>

        <!-- Call to Action Button -->
        <button class="cta-button" routerLink="/login">
            <i class="bi bi-play-fill"></i> Start Watching Now
        </button>

    </div>
</section>