 <!-- <nav #navBlank class="navbar navbar-expand-lg transparent-nav  fixed-top">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a class="navbar-brand text-white d-flex align-items-center" href="#">
      <img src="/images/Clacket.jpg" alt="StreamVibe Logo" class="w-75" height="50">
    </a>

    <div class="d-flex justify-content-center flex-grow-1">
      <ul class="navbar-nav linkes-blackBox mx-auto">
        <li class="nav-item">
          <a class="nav-link muted-link" routerLink="home" routerLinkActive="btn-nav">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link muted-link" routerLink="WatchlistMovie" routerLinkActive="btn-nav">Watchlist Movie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link muted-link" routerLink="details" routerLinkActive="btn-nav">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link muted-link" routerLink="movie-search" routerLinkActive="btn-nav">Movie Search</a>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center gap-4">
      <a routerLink="WatchlistMovie" class="text-danger-emphasis position-relative fs-5">
        <i class="fa-solid fa-heart"></i>
        <span *ngIf="watchlistCount" class="badge text-bg-warning position-absolute top-0 start-100 translate-middle p-1 rounded-circle" style="font-size: 10px;">{{watchlistCount}}</span>
      </a>

      <button class="btn btn-outline-light d-flex align-items-center gap-2" (click)="LogOut()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span>Log Out</span>
      </button>
    </div>

  </div>
</nav> -->
<!-- <img src="/images/Clacket.jpg" alt="StreamVibe Logo"> -->
<!-- <div class="nav-item"  routerLinkActive="active"  routerLink="details/1144430">Details</div> -->
<!-- <div class="nav-item"  routerLinkActive="active"  routerLink="movie-search">movie-search</div> -->
<header class=" mb-5">
  <div class="container header-container">
    <div class="container header-container">
            <div class="logo">
                <img src="/images/img_logo.svg" alt="StreamVibe Logo">
            </div>

            <nav class="nav-menu">
                <div class="nav-item active"   routerLinkActive="active"  routerLink="home">Home</div>
                <div class="nav-item"  routerLinkActive="active"  routerLink="movies-show">Movies & Shows</div>
                <div class="nav-item"  routerLinkActive="active"  routerLink="WatchlistMovie">WatchlistMovie</div>
            </nav>

            <div class="header-icons align-items-center">
                <div class="header-icon">
                    <img src="images/img_icon.svg" alt="Search">
                </div>
                <div class="header-icon position-relative" routerLink="WatchlistMovie">
                    <img src="images/img_icon_24x24.svg" class="" alt="Notifications">
               <span *ngIf="watchlistCount" class="badge  position-absolute top-0 start-100 translate-middle p-1 rounded-circle"
               style="font-size: 15px; font-weight: 500;background-color: #1a1a1a; color: #ffffff;">{{watchlistCount}}</span>

                </div>
                 <div (click)="LogOut()" class="header-icon  p-2 rounded-3" style="background-color: rgb(223, 9, 23);
">
                    <img src="images/logout-svgrepo-com.svg" class="" style="width: 24px;height:24px;" alt="Search">
                </div>
            </div>
        </div>
  </div>
</header>
